h1{
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
}
.navbar-nav > li{
  padding-left:25px;
  padding-right:25px;
}
a{
  color: tan;
}
p{
  margin-left: 10px;
}
h3{
  margin-left: 10px;
}
h4{
  margin-left: 10px;
}
img{
  margin-left: 10px;
  box-shadow: 5px;
  border-style: solid;
}
body {
  background-image: linear-gradient(to right, tan, wheat );
  text-shadow: .5px .5px chocolate;
}
body {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.jpg) 30 round;
}

#bananaS {
display: none;
}

#oatmealS {
display: none;
}

#eggS {
display: none;
}

#broccoliS {
display: none;
}

#chickenS {
display: none;
}

#brownriceS {
display: none;
}
